In [ ]:
import os
import re

In [ ]:
import nltk
nltk.download('punkt')
nltk.download('stopwords')
nltk.download('averaged_perceptron_tagger')
from nltk.corpus import stopwords
from nltk import word_tokenize
from nltk.util import ngrams
from nltk.util import bigrams
from nltk.collocations import *

[nltk_data] Downloading package punkt to /root/nltk_data...
[nltk_data]   Package punkt is already up-to-date!
[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!
[nltk_data] Downloading package averaged_perceptron_tagger to
[nltk_data]     /root/nltk_data...
[nltk_data]   Package averaged_perceptron_tagger is already up-to-
[nltk_data]       date!

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
from wordcloud import WordCloud
import matplotlib.pyplot as plt

### Read the text

In [ ]:
with open('/content/jd.txt') as f:
    data = f.read()

### Convert the text to lowercase

In [ ]:
data = data.lower()

### Finding total number of words and punctuation in the text

In [ ]:
tokens = nltk.word_tokenize(data)

In [ ]:
print(len(tokens))

360

### Removing Stop-words

In [ ]:
stop = set(stopwords.words('english'))

In [ ]:
token_list1 = [ ]

In [ ]:
for token in tokens:
    if token not in stop:
        token_list1.append(token)

In [ ]:
print(len(token_list1))

297

### Removing punctuation

In [ ]:
punctuation = re.compile(r'[-.?!,":;()|0-9]')

In [ ]:
token_list2 = [ ]

In [ ]:
for token in token_list1:
    word = punctuation.sub("", token)
    if len(word)>0:
        token_list2.append(word)

In [ ]:
print(len(token_list2))

240

### Finding POS tags of words

In [ ]:
tokens_pos_tag = nltk.pos_tag(token_list2)

In [ ]:
pos_df = pd.DataFrame(tokens_pos_tag, columns = ('word','POS'))

In [ ]:
pos_df.head()

               word  POS
0              data  NNS
1           analyst   NN
2               job   NN
3  responsibilities  NNS
4          develops  VBZ

In [ ]:
pos_sum = pos_df.groupby('POS', as_index=False).count() # group by POS tags

In [ ]:
pos_sum.sort_values(['word'], ascending=[False]) # in descending order of number of words per tag

    POS  word
4    NN    93
6   NNS    60
2    JJ    29
9   VBG    17
11  VBP    15
12  VBZ     9
7    RB     5
8   VBD     4
10  VBN     3
5   NNP     2
0    CC     1
1    IN     1
3   JJR     1

### filtering nouns out of all the words

In [ ]:
filtered_pos = [ ]

In [ ]:
for one in tokens_pos_tag:
    if one[1] == 'NN' or one[1] == 'NNS' or one[1] == 'NNP' or one[1] == 'NNPS':
        filtered_pos.append(one)

In [ ]:
print (len(filtered_pos))

155

### Finding most frequent words

In [ ]:
fdist_pos = nltk.FreqDist(filtered_pos)

In [ ]:
top_100_words = fdist_pos.most_common(100)

In [ ]:
print(top_100_words)

[(('data', 'NNS'), 9), (('business', 'NN'), 4), (('analyst', 'NN'), 3), (('job', 'NN'), 3), (('models', 'NNS'), 3), (('hours', 'NNS'), 3), (('benefits', 'NNS'), 3), (('education', 'NN'), 3), (('knowledge', 'NN'), 3), (('analysis', 'NN'), 3), (('process', 'NN'), 3), (('experience', 'NN'), 3), (('management', 'NN'), 3), (('information', 'NN'), 2), (('support', 'NN'), 2), (('decision', 'NN'), 2), (('systems', 'NNS'), 2), (('analyses', 'NNS'), 2), (('analysts', 'NNS'), 2), (('skills', 'NNS'), 2), (('software', 'NN'), 2), (('proficiency', 'NN'), 2), (('skill', 'NN'), 2), (('communication', 'NN'), 2), (('group', 'NN'), 2), (('responsibilities', 'NNS'), 1), (('manages', 'NNS'), 1), (('making', 'NN'), 1), (('performs', 'NNS'), 1), (('facilitates', 'NNS'), 1), (('trains', 'NNS'), 1), (('issues', 'NNS'), 1), (('risk', 'NN'), 1), (('assessment', 'NN'), 1), (('processes', 'NNS'), 1), (('services', 'NNS'), 1), (('leadership', 'NN'), 1), (('training', 'NN'), 1), (('methodology', 'NN'), 1), (('prioritization', 'NN'), 1), (('projects', 'NNS'), 1), (('problems', 'NNS'), 1), (('determines', 'NNS'), 1), (('causes', 'NNS'), 1), (('defines', 'NNS'), 1), (('company', 'NN'), 1), (('assets', 'NNS'), 1), (('hivesql', 'NN'), 1), (('jobs', 'NNS'), 1), (('works', 'NNS'), 1), (('units', 'NNS'), 1), (('engineering', 'NN'), 1), (('teams', 'NNS'), 1), (('strategy', 'NN'), 1), (('term', 'NN'), 1), (('platform', 'NN'), 1), (('architecture', 'NN'), 1), (('[', 'NNP'), 1), (('work', 'NN'), 1), (('seekers', 'NNS'), 1), (('descriptions', 'NNS'), 1), (('data', 'NN'), 1), (('availability', 'NN'), 1), (('home', 'NN'), 1), (('options', 'NNS'), 1), (('opportunities', 'NNS'), 1), (('office', 'NN'), 1), (('conference', 'NN'), 1), (('sponsorships', 'NNS'), 1), (('credits', 'NNS'), 1), (('time', 'NN'), 1), (('qualifications', 'NNS'), 1), (('—', 'NNP'), 1), (('enterprise', 'NN'), 1), (('department', 'NN'), 1), (('level', 'NN'), 1), (('documentation', 'NN'), 1), (('licensing', 'NN'), 1), (('requirements', 'NNS'), 1), (('degree', 'NN'), 1), (('administration', 'NN'), 1), (('economics', 'NNS'), 1), (('computer', 'NN'), 1), (('science', 'NN'), 1), (('field', 'NN'), 1), (('five+', 'NN'), 1), (('years', 'NNS'), 1), (('statistics', 'NNS'), 1), (('research', 'NN'), 1), (('methods', 'NNS'), 1), (('adaptability', 'NN'), 1), (('customer', 'NN'), 1), (('service', 'NN'), 1), (('relations', 'NNS'), 1), (('problem', 'NN'), 1), (('project', 'NN'), 1), (('quality', 'NN'), 1), (('teamwork', 'NN'), 1), (('presentations', 'NNS'), 1), (('facilitation', 'NN'), 1)]

In [ ]:
top_words_df = pd.DataFrame(top_100_words, columns = ('pos','count'))

In [ ]:
top_words_df.head()

              pos  count
0     (data, NNS)      9
1  (business, NN)      4
2   (analyst, NN)      3
3       (job, NN)      3
4   (models, NNS)      3

In [ ]:
top_words_df['Word'] = top_words_df['pos'].apply(lambda x: x[0]) # split the tuple of POS

In [ ]:
top_words_df = top_words_df.drop('pos', 1) # drop the previous column

In [ ]:
top_words_df.head()

   count      Word
0      9      data
1      4  business
2      3   analyst
3      3       job
4      3    models

In [ ]:
subset_pos = top_words_df[['Word', 'count']]

In [ ]:
tuples_pos = [tuple(x) for x in subset_pos.values]

In [ ]:
print(tuples_pos)

[('data', 9), ('business', 4), ('analyst', 3), ('job', 3), ('models', 3), ('hours', 3), ('benefits', 3), ('education', 3), ('knowledge', 3), ('analysis', 3), ('process', 3), ('experience', 3), ('management', 3), ('information', 2), ('support', 2), ('decision', 2), ('systems', 2), ('analyses', 2), ('analysts', 2), ('skills', 2), ('software', 2), ('proficiency', 2), ('skill', 2), ('communication', 2), ('group', 2), ('responsibilities', 1), ('manages', 1), ('making', 1), ('performs', 1), ('facilitates', 1), ('trains', 1), ('issues', 1), ('risk', 1), ('assessment', 1), ('processes', 1), ('services', 1), ('leadership', 1), ('training', 1), ('methodology', 1), ('prioritization', 1), ('projects', 1), ('problems', 1), ('determines', 1), ('causes', 1), ('defines', 1), ('company', 1), ('assets', 1), ('hivesql', 1), ('jobs', 1), ('works', 1), ('units', 1), ('engineering', 1), ('teams', 1), ('strategy', 1), ('term', 1), ('platform', 1), ('architecture', 1), ('[', 1), ('work', 1), ('seekers', 1), ('descriptions', 1), ('data', 1), ('availability', 1), ('home', 1), ('options', 1), ('opportunities', 1), ('office', 1), ('conference', 1), ('sponsorships', 1), ('credits', 1), ('time', 1), ('qualifications', 1), ('—', 1), ('enterprise', 1), ('department', 1), ('level', 1), ('documentation', 1), ('licensing', 1), ('requirements', 1), ('degree', 1), ('administration', 1), ('economics', 1), ('computer', 1), ('science', 1), ('field', 1), ('five+', 1), ('years', 1), ('statistics', 1), ('research', 1), ('methods', 1), ('adaptability', 1), ('customer', 1), ('service', 1), ('relations', 1), ('problem', 1), ('project', 1), ('quality', 1), ('teamwork', 1), ('presentations', 1), ('facilitation', 1)]